@charset "utf-8";
/* CSS Document */
p,h1,h2,h3,h4,h5,h6,body,ol,ul,dl,dt,dd{margin:0; padding:0;}
a{text-decoration:none; color:#000;}
li{list-style:none; color:#000;}
img{vertical-align:top; border:none;}


/* 重用样式*/
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:''; display:block; clear:both;}
body{font-size:12px;}
.w{margin:0 auto; width:1200px; } 