
.loding{position:fixed;width:40%;height:40%;left:30%;top:20%;}
.conte{width:100%;padding:0 5%;box-sizing: border-box;}
.conte img{width:100%;margin-bottom:3%}
.conte p{color:#9E9E9E;font-weight: 900;margin:0;}
.details_center{text-align: center;color:#fff;line-height: 65px;}
.s_te{font-size: 25px;font-weight: 900;}