@charset "utf-8"; /* CSS Document */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dd,dl,input,textarea{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none; color:#000;}
img{vertical-align:top; border:none;}
textarea{resize:none;}
input{border:none; background:none; outline:none;}

.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:''; display:block; clear:both;}
body{font-size:12px; background:#ffffff;}
.pr{position:relative; }
.pa{position:absolute;}
i,em{font-style:normal;}
strong{font-weight:normal;}
.red{color:red;}
.w{width:1190px; margin:0 auto;}
.k{display:block;}